{%from '_renderfield.html' import renderfield%}
<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
</head>
<body>
	<h1>The form is below</h1>
	<form action="/" method="POST">
	{{form.csrf_token}}
	<ul>
		{%for error in form.csrf_token.errors%}
			<li style="color:orange;">{{error}}</li>
		{%endfor%}

	</ul>

	{{renderfield(form.username)}}

	{{renderfield(form.email)}}
	
	{{renderfield(form.password)}}
	{{renderfield(form.age)}}

	{{form.boolean.label}}
	{{form.boolean}}
	<br>
	{{renderfield(form.home_phone)}}
	{%if form.mobile_phone%}
	{{renderfield(form.mobile_phone)}}
	{%endif%}

	{%for field in form.years%}
	{{renderfield(field)}}
	{%endfor%}
	<input type="submit" value="Submit Form">
	</form>

</body>
</html>